<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.runtime.remoting>
    <application>
      <client url="tcp://localhost:8080">
        <activated
          type="ComponenteCAO.ComponenteCAO, ComponenteCAO" />
      </client>
    </application>
  </system.runtime.remoting>
</configuration>