<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.runtime.remoting>
  <application name="Servidor">
    <service>
      <activated type="Componente.Componente, Componente" />
    </service>
  <channels>
    <channel ref="http server" port="33000">
      <serverProviders>
        <formatter ref="binary"/>
      </serverProviders>
    </channel>
  </channels>
  </application>
</system.runtime.remoting>
</configuration>