<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <system.runtime.remoting>
    <application name="Servidor">
      <service>
        <wellknown
          type="Componente.Componente, Componente"
          objectUri="Componente"
          mode="SingleCall" />
      </service>
      <channels>
        <channel ref="tcp" port="33000"/>
      </channels>
    </application>
  </system.runtime.remoting>

</configuration>
