<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.runtime.remoting>
    <application name="Cliente">
      <client url="http://localhost:33000/Servidor">
        <activated type="Componente.Componente, Componente" />
      </client>
    <channels>
      <channel ref="http client">
        <clientProviders>
          <formatter ref="binary"/>
        </clientProviders>
      </channel>
    </channels>
    </application>    
  </system.runtime.remoting>
</configuration>